<html>
<head>
<title> Project 2 </title>
        
<script type='text/javascript'>
       
var i = 1;

function getData(){
                    if(i < 100)
                    {   
                            $.get( "item/"+i, function( data ) {
                            
                            console.log(data);
                            i++;
                            
                            //Reference: http://stackoverflow.com/questions/6323338/jquery-ajax-posting-json-to-webservice
                            markers = JSON.stringify(data);
                            
                            $('#abc').append("<div>"+markers+"</div>");
                            console.log(i);

                            //Reference: http://www.w3schools.com/jsref/prop_style_backgroundcolor.asp
                            if(i/2 == 0)
                            {
                            document.body.style.backgroundColor = "cyan";
                            }
                            if(i/3 == 0)
                            {
                            document.body.style.backgroundColor = "red"    
                            }
                            if(i/5 == 0)
                            {
                            document.body.style.backgroundColor = "green";
                            }
                            if(i/7 == 0)
                            {
                            document.body.style.backgroundColor = "yellow"    
                            }
                            else
                            {
                            document.body.style.backgroundColor = "white"    
                            }

                            //Reference: http://www.w3schools.com/css/css_syntax.asp
                            $("#abc").find('div').css("color","blue")    
                            if (i > 20){
                            
                            //Reference: http://api.jquery.com/slidetoggle/
                            $("#abc").find('div:first').slideToggle(300, function(){ $(this).remove();});
                            
                            }
                            });
                    }
                }   

</script>
</head>

<body>
<div id="abc"> </div>
<script>

getData();

var timeout = setInterval (getData, 500);
            
</script>
</body>